.sidebar {
    width: 350px !important;
    height: 100%;
    position: fixed;
    color: #000;
}

.sidebar ul li a {
    color: #000;
    padding: 15px 0px;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 16px;
}

.sidebar ul li:hover a {
    background-color: #555;
    color: #fff;
}